# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.out/

# Ambiente
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# Roteiro
roteiro.md